<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1>Requests</h1>
    </div>
  </div>
  <div class="row">
    <ul>
      <% requests.forEach( requests => { %>
        <li>
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title"><%= requests.name %></span>
                  <p><%= requests.details %></p>
                </div>
                <div class="card-action">
                  <a href="#">Message</a>
                </div>
              </div>
            </div>
          </li>
        <% }) %>
      </ul>
    </div>
</div>
