<div class="container">
  
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="blue-grey-text text-darken-4">Welcome!</h1>
      <p class="blue-grey-text text-darken-4">A place to offer or request food resources.  Food recovery in it's purest form.</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card amber darken-2">
        <div class="card-content">
          <span class="card-title blue-grey-text text-darken-4">GIVE</span>
          <p class="blue-grey-text text-darken-4">I have a food resource to provide to others for free.</p>
        </div>
        <div class="card-action">
          <a class="blue-grey-text text-darken-4" href="offers/new">GO!</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="card amber darken-2">
        <div class="card-content align-right">
          <span class="card-title blue-grey-text text-darken-4">REQUEST</span>
          <p class="blue-grey-text text-darken-4">My organization needs support with a food donation.</p>
        </div>
        <div class="card-action">
          <a class="blue-grey-text text-darken-4"href="requests/new">GO!</a>
        </div>
      </div>
    </div>
  </div>
</div>
