<div class="container">
  <div class="row">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="company_name" type="text" class="validate">
            <label for="company_name">Company or Organization Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" class="validate">
            <label for="name">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="address" type="text" class="validate">
            <label for="address">Address</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="phone" type="text" class="validate">
            <label for="phone">Phone</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="meal_served" type="text" class="validate">
            <label for="meal_served">Meal best served?</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="food_item" type="text" class="validate">
            <label for="food_item">How much and what's the food?</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="can_transport" type="boolean" class="validate">
            <label for="can_transport">Delivery</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12"
            <form action="#">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Upload</span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Details:</label>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
            <div class="col s12">
              <input type="hidden" value="true"><input>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
